<div class="titlep">Produtos</div>
<table id="table" class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Produto</th>
      <th scope="col">Valor</th>
      <th scope="col">Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Diazepam</td>
      <td>R$10,69</td>
      <td>30 Compr.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Zolpidem</td>
      <td>R$24,70</td>
      <td>30 Compr.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rivotril</td>
      <td>R$6,00</td>
      <td>30 Compr.</td>
    </tr>
  </tbody>
</table>
