.alunos {
  display: flex;
  justify-content: center;
  margin: 3%;
}

table {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

th,
td {
  border-bottom: 0.5px solid rgb(223, 223, 223);
  padding: 1%;
  margin: 1%;
  vertical-align: middle;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: rgb(102, 102, 102);
}
