<div class="alunos">
  <table>
    <thead>
      <th>Aluno</th>
      <th>RA</th>
      <th>Github</th>
    </thead>
    <tbody>
      <tr>
        <td>David de Jesus Bezerra</td>
        <td>0050831911046</td>
        <td><a href="https://github.com/ddjb77">Github</a></td>
      </tr>
      <tr>
        <td>Luis Fernando Soares da Hora da Silva</td>
        <td>0050831911023</td>
        <td><a href="https://github.com/lsdahr">Github</a></td>
      </tr>
      <tr>
        <td>Marcos Vinicius Sousa do Rosário</td>
        <td>0050831911027</td>
        <td><a href="https://github.com/Marcos-Vinicius-Sousa">Github</a></td>
      </tr>
      <tr>
        <td>Priscilla Silva de Oliveira</td>
        <td>0050831721031</td>
        <td><a href="https://github.com/ddjb77">Github</a></td>
      </tr>
    </tbody>
  </table>
</div>
